# Python
.venv/
__pycache__/
*.pyc

# VS Code
.vscode/settings.json

# OS junk
.DS_Store
Thumbs.db

# Large/generated outputs
outputs/figures/*.png
outputs/reports/*.docx
outputs/reports/*.pdf

# Data copies you don't want versioned
data/processed/*.csv

# Jupyter checkpoints
.ipynb_checkpoints/